{%extends 'base.html'%}

{%block body%}
<div class="jumbotron text-center">
    <h1>Add an Item and Quantity</h1>
    <form action="additem">
        <label for="Product">Enter Product</label>
        <input type="text" name="Product" value="" required>
    </br>
        <label for="Quantity">Enter Quantity</label>
        <input type="text" name="Quantity" value="" required>
    </br>
    <label for="Price">Enter Price</label>
    <input type="text" name="Price" value="" required>
</br>
        <input type="submit" value="Submit">
    </form>
{%endblock%}