{%extends 'base.html'%}

{%block body%}
<div class="table-responsive">
    <table class="table">
      <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #FFE0DF;
        }
        </style>
        </head>
    <h1><center>This is your current inventory</center></h1>
    <h3>
      
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
            <tr>
            {% for item in items %}
              <td><b>{{item['Item']}}</b></td>
              <td>{{item['Price']}}</td>
              <td>{{item['Quantity']}}</td>
            </tr>
            {% endfor %}
          </table>
    </h3>
</div>
{%endblock%}